body {
    padding: 0.5em;
    background-color: #59E046;
    color: #FFFFFF;
}
.quantidade-de-codigos{
    width: 60px;
    text-align: center;
    border: none;
    border-radius: 0.25em;
    padding: 0.25em;
}
.controle{
    margin-top: 0.5em;
}
#botao-download  {
    display: none;
    background-color: #F01A11;
    color: white;
}

.btn-light {
    background-color: white;
    margin-right: 0.25em;
    border:none;
}
.container-codigos {
    background-color: #FFFFFF;
    margin-top: 1em;
    color: black;
    padding: 0.5em;
    height: auto;
}
.paragrafo{
    margin-bottom: 0.3em;
}