:root {
    --cor-de-fundo: #2ECA53;
    --cor-fundo-btn-download: #F01A11;
    --cor-terciaria: #FFFFFF;

    --fonte:'Montserrat', sans-serif;
}

body {
    padding: 0.25em;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}
.titulo-quantidade-de-codigos{
    color: var(--cor-terciaria);
    font-weight: 600;
}
.quantidade-de-codigos{
    width: 60px;
    text-align: center;
    border: none;
    border-radius: 0.25em;
    padding: 0.25em;
}
.controle{
    margin: 1em 0;
}
#botao-download  {
    display: none;
    background-color: var(--cor-fundo-btn-download);
    color: var(--cor-terciaria);
}

.btn-light {
    background-color: var(--cor-terciaria);
    margin-right: 0.25em;
    border:none;
}
.container-codigos {
    background-color: var(--cor-terciaria);
    padding: 0.5em;
    height: auto;
}
.paragrafo{
    margin-bottom: 0.3em;
}